* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome,
.welcome__cont-text {
  width: 100%;
  height: 466px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome__text-one {
  font-family: "Montserrat";
  font-size: 48px;
}

.welcome__text-two {
  font-family: "Montserrat";
  font-size: 32px;
}
