* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome,
.welcome__cont-text {
  width: 100%;
  height: 466px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome__text-one {
  font-family: "Montserrat";
  font-size: 48px;
}

.welcome__text-two {
  font-family: "Montserrat";
  font-size: 32px;
}

.about-me-section,
.about-me {
  width: 100%;
  height: 538px;
}

.about-me {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 32px;
}

.about-me__name {
  font-size: 32px;
  font-family: "Montserrat";
  color: white;
}

.about-me__text {
  font-size: 16px;
  font-family: "Poppins";
  color: white;
  text-align: center;
}

.services-section {
  width: 100%;
  height: 1375px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  background-color: #fafafa;
}

.services__title {
  font-family: "Montserrat";
  font-size: 32px;
  text-align: center;
}

.services__container {
  height: 75%;
  width: 100%;
}

.services__container,
.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.services__card {
  width: 370px;
}

.services__img {
  width: 370px;
  height: 250px;
}
.services__item,
.services__text {
  font-family: "Poppins";
}

.services__item {
  font-size: 24px;
}

.services__text {
  font-size: 16px;
  width: 85%;
}

@media (min-width: 750px) {
  .services__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services-section {
    width: 100%;
    height: 538px;
  }
}
