* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-welcome {
  width: 100%;
  height: 616px;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 25px;
}

.header__logo {
  width: 75px;
  height: 75px;
}

.header__desk-menu {
  display: none;
  height: 36px;
  width: 451px;
}

.header__desk-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.header__desk-link {
  font-size: 24px;
  font-family: "Poppins";
  text-decoration: none;
  color: black;
}

@media (min-width: 750px) {
  .header__desk-menu {
    display: inherit;
  }
}

.header__burger {
  width: 36px;
  height: 42px;
  display: none;
}

.header__burger-button {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  column-gap: 7px;
}

.header__burger-button-bar {
  width: 100%;
  height: 6px;
  background-color: black;
}

@media (max-width: 750px) {
  .header__burger {
    display: inherit;
  }
}

.window {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border: solid 1px white;
  background-color: #161616;
  opacity: 0.9;
  display: none;
  display: flex;
  flex-direction: column;
}

.window__cont-close-button {
  text-align: right;
}

.window__close-button {
  background-color: #161616;
  color: white;
  font-size: 60px;
  border: none;
}

.window__menu_vert {
  width: 100%;
  height: 616px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.window__item-link {
  font-family: "Montserrat";
  font-size: 48px;
  text-decoration: none;
  color: #ffffff;
}

.welcome,
.welcome__cont-text {
  width: 100%;
  height: 466px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome__text-one {
  font-family: "Montserrat";
  font-size: 48px;
}

.welcome__text-two {
  font-family: "Montserrat";
  font-size: 32px;
}
